
.wrapper {
  height: 100%;
  width: 100%;
  min-height: 750px;
  min-width: 500px;
}
.grid {
  margin: 40px 60px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  background-color: white;
  grid-gap: 10px;
}

.box {
  min-height: 150px;
  min-width: 200px;
}
.box:nth-child(1) {
  border: none;
}

.box:nth-child(2) {
  min-height: 400px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
  width: 13rem;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  border: 2px solid rgb(205, 46, 58, 0.9);
  background-color: rgb(0, 71, 160, 0.1);
  font-size: 2em;
  box-shadow: inset 0px 0px 2px  #000000;
}
main div:nth-child(2) {
  background-color:  rgb(0, 71, 160, 0.3);
}
main div:nth-child(3) {
  background-color: rgb(0, 71, 160, 0.5);
}

main div:nth-child(4) {
  background-color: rgb(0, 71, 160, 0.7);
}
.profilePic {
  min-height: 50px;
  min-width: 50px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid #813772;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #813772;
}
